.task {
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    .p-panel-title {
        color: var(--text-color);
    }
}

.task__description {
    p, ul, ol {
        margin: 0;
    }

    // Show ellipsis after 3 lines.
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

// Make sure buttons are never 100% despite p-fluid class.
.task-add,
.task-edit {
    .p-panel-footer {
        display: flex;
        justify-content: space-between;
    }

    .p-button {
        max-width: 48%;

        &:last-child {
            margin-left: auto;
        }
    }
}
